<table id="m_-7461401339231869985emailBody" width="100%" border="0" cellspacing="0" cellpadding="0"
  style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;height:100%;width:100%;min-height:1000px;background-color:#f2f2f2">
  <tbody>
    <tr>
      <td align="center" valign="top"
        style="margin:0;padding:32px 16px;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;height:100%;width:100%;min-height:1000px;background-color:#f2f2f2">
        <table width="544" border="0" cellpadding="0" cellspacing="0"
          style="margin:0 auto;padding:0;border-collapse:collapse;border-spacing:0;width:544px;margin-left:auto;margin-right:auto">
          <tbody>
            <!-- <tr>
              <td
                style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:544px;height:16px">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                  style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;width:100%">
                  <tbody>
                    <tr>
                      <td align="left" valign="top"
                        style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:16px;height:16px;text-align:left;vertical-align:top;background-color:#ffffff;font-size:0">
                        <img
                          src="https://ci3.googleusercontent.com/meips/ADKq_NY3-Uak0Ivlx-7NaCMLVtytQPofbghMws7l29nq7jpgfv7WbFotitED2dHWpReDB6nCvBMrDrw7XQ7aaN9vEeXiT3P7eqLcHxpphw=s0-d-e1-ft#https://app.statuscake.com/Email/imgs/header_left.png"
                          alt="" width="8" height="8"
                          style="margin:0;padding:0;height:8px;width:8px;line-height:100%;outline:none;text-decoration:none"
                          class="CToWUd" data-bit="iit">
                      </td>
                      <td
                        style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;height:16px;background-color:#ffffff;width:94%;line-height:0;font-size:0">
                        &nbsp;
                      </td>
                      <td align="right" valign="top"
                        style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:16px;height:16px;text-align:right;vertical-align:top;background-color:#ffffff;font-size:0">
                        <img
                          src="https://ci3.googleusercontent.com/meips/ADKq_Nahwj-MYuSwGmS9pLGosOWGlq_J0xn_ZOBReWcjq0-z1TSNDCq6HPq1Qr5_wvRVxXhvJ-mWGe68GGqWor3dWer0o-kj4gVnBJTTgiM=s0-d-e1-ft#https://app.statuscake.com/Email/imgs/header_right.png"
                          alt="" width="8" height="8"
                          style="margin:0;padding:0;height:8px;width:8px;line-height:100%;outline:none;text-decoration:none"
                          class="CToWUd" data-bit="iit">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr> -->
            <tr>
              <td
                style="margin:0;padding:0 16px 16px;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:512px;background-color:#ffffff;border-bottom:1px solid #ebebeb;padding-left:16px;padding-right:16px;padding-bottom:16px">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                  style="margin:0;padding:0;border-collapse:collapse;border-spacing:0">
                  <tbody>
                    <tr>
                      <td
                        style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;height:48px;text-align:left;font-size:0;font-weight:bold;color:#242424">
                        <a href="<%= appLink %>"
                          style="padding:0;display:inline-block;text-decoration:none;font-family:Arial,Helvetica,sans-serif;color:#242424;height:48px;text-align:left;font-size:18px;font-weight:bold;line-height:0"
                          target="_blank">
                          <img
                            src="<%= appIcon %>"
                            width="240" height="48" alt="StatusCake"
                            style="margin:0;padding:0;height:auto;width:auto;line-height:100%;outline:none;text-decoration:none;border:none;display:block;vertical-align:top"
                            class="CToWUd" data-bit="iit">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                style="margin:0;padding:32px 16px 0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:512px;text-align:center;background-color:#fafafa;border-bottom:1px solid #ebebeb;padding-top:32px">
                <h1
                  style="margin:0 0 5px;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:24px;line-height:36px;font-weight:bold;color:#242424;margin-bottom:5px">
                  <span style="color:#242424"><%= appName %></span>
                </h1>
                <table border="0" align="center" cellpadding="0" cellspacing="0"
                  style="margin:0 auto;padding:0;border-collapse:collapse;border-spacing:0;text-align:center;width:64px;height:64px;margin-left:auto;margin-right:auto">
                  <tbody>
                    <tr>
                      <td
                        style="margin:0;padding:10px 0 6px;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;padding-top:10px;padding-bottom:6px">
                        <img src="https://ci3.googleusercontent.com/meips/ADKq_NZEk9_Mbt5ZVpf8eOmt5Yz4yng4QqiDh9EKcKx_MSdWgDqP3FfeaVZaMmTkn0RhruiIBmaUi97YRTpww8nzzk9COGo-JQ=s0-d-e1-ft#https://app.statuscake.com/Email/imgs/error.png" width="64" height="64" alt="Your Test is Down!" style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;height:auto;width:auto;line-height:100%;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p style="margin-top:0;margin-left:0;margin-right:0;margin-bottom:24px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;color:#898989">
                  <span style="font-weight:bold;color:#666666">Has Encountered an Error</span><br>Unexpected <span class="il">Status</span> Code
              </p>
              </td>

            </tr>
          </tbody>
        </table>

      </td>

    </tr>
  </tbody>
</table>
